[project]
name = "imessage-conversation-analyzer"
version = "2.4.0"
description = "Analyzes the entire history of a macOS Messages conversation"
readme = "README.md"
requires-python = ">=3.9"
authors = [
    {name = "Caleb Evans", email = "caleb@calebevans.me"}
]
maintainers = [
    {name = 'Caleb Evans', email = 'caleb@calebevans.me'}
]
license = {file = 'LICENSE.txt'}
keywords = ["apple", "imessage", "macos", "conversation", "chat", "analysis", "pandas"]
dependencies = [
    "pandas",
    "pyarrow",
    "tabulate",
    "openpyxl",
    "pytypedstream",
    "phonenumbers",
    "tzlocal"
]

[project.urls]
homepage = "https://github.com/caleb531/imessage-conversation-analyzer"
documentation = "https://github.com/caleb531/imessage-conversation-analyzer#readme"
repository = "https://github.com/caleb531/imessage-conversation-analyzer"
changelog = "https://github.com/caleb531/imessage-conversation-analyzer/releases"

[project.scripts]
ica = "ica.__main__:main"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.package-data]
ica = ["*.json", "queries/*.sql", "py.typed"]

[tool.mypy]
exclude = ["build"]
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = [
    "setuptools.*",
    "pandas.*",
    "tabulate.*",
    "typedstream.*",
    "nose2.*"
]
ignore_missing_imports = true

[tool.flake8]
# Black compatibility
max-line-length = 88
extend-ignore = ["E203", "W503"]
exclude = [".git", "build", "__pycache__", "*.egg-info", ".virtualenv"]

# Per <https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#profile>
[tool.isort]
profile = "black"

# Configuration for coverage.py (https://pypi.python.org/pypi/coverage)

[tool.coverage.run]
# Enable branch coverage
branch = true

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
    "pragma: no cover",
    # Ignore non-runnable code
    "if __name__ == .__main__.:",
    "pass",
]
# Only check coverage for source files
include = ["ica/**/*.py"]
