black==24.10.0
build==1.2.2.post1
click==8.1.8
coverage==7.6.10
et_xmlfile==2.0.0
flake8==7.1.1
flake8-black==0.3.6
flake8-isort==6.1.1
freezegun==1.5.1
isort==5.13.2
mccabe==0.7.0
mypy==1.14.0
mypy-extensions==1.0.0
nose2==0.15.1
numpy==1.26.4
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
phonenumbers==8.13.52
platformdirs==4.3.6
pyarrow==18.1.0
pycodestyle==2.12.1
pyflakes==3.2.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytypedstream==0.1.0
pytz==2024.2
six==1.17.0
tabulate==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
