* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #fff;
}

main {
    margin: 0;
    padding-top: 10vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bx--header ~ .bx--content {
    margin: 0;
}
section {
    margin: 2rem 0;
}
section header {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 0;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

h1,
h2 {
    text-align: center;
}

.bx--btn {
    margin: 0;
    padding: 12px 20px;
}
