* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #fff;
}
main {
    margin: 0;
    padding-top: 10vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    margin: 2rem 0;
}

.bx--btn {
    margin: 1rem 0;
}
